@model WPCasusVictuz.Models.Poll

@{
    ViewData["Title"] = "Verwijdering poll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Weet je zeker dat je onderstaande poll wilt verwijderen?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            
            Met de vraag:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class="col-sm-2">
            En keuzes:
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.Options ?? new List<string>()) <!-- Display the comma-separated Options -->
        </dd>
        <dt class="col-sm-2">
            Wat aangemaakt is door:
        </dt>
        <dd class="col-sm-10">
            @(Model.CreatedBy != null ? Model.CreatedBy.Name : "N/A") <!-- Safely display CreatedBy name or N/A if null -->
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Verwijder poll" class="btn btn-danger" /> |
        <a asp-action="Index">Terug naar polloverzicht</a>
    </form>
</div>
