@model WPCasusVictuz.Models.Poll

@{
    ViewData["Title"] = "Wijziging poll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Wijziging vraagstelling</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Question" class="control-label">De vraag</label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <hr />
            <h3>
                Voer de antwoorden in als bijvoorbeeld "ja,nee"
            </h3>
            <div class="form-group">
                <label asp-for="Options" class="control-label">Antwoordkeuzes</label>
                <input asp-for="Options" class="form-control" />
                <span asp-validation-for="Options" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedByBoardMemberId" class="control-label">Aangemaakt door</label>
                <select asp-for="CreatedByBoardMemberId" class="form-control" asp-items="ViewBag.CreatedByBoardMemberId"></select>
                <span asp-validation-for="CreatedByBoardMemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar poll overzicht</a>
</div>

