@model WPCasusVictuz.Models.Registration

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Registration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                @Html.LabelFor(model => model.MemberId, "Name of member")
                
                <select asp-for="MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>
            </div> *@
            <div class="form-group">
                @Html.LabelFor(model => model.AktivityId, "Name of activity")
                
                <select asp-for="AktivityId" class="form-control" asp-items="ViewBag.AktivityId"></select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

