@model IEnumerable<WPCasusVictuz.Models.Registration>

@{
    ViewData["Title"] = "Overzicht inschrijvingen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Overzicht van inschrijvingen</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Datum inschrijving
            </th>
            <th>
                Naam deelnemer
            </th>
            <th>
                Activiteit
            </th>
            <th>Wijzigen</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aktivity.Name)
            </td>
            <td>
                
                <a asp-action="Delete" asp-route-id="@item.Id">Uitschrijven</a>
            </td>
        </tr>
}
    </tbody>
</table>
