@model WPCasusVictuz.Models.Picture

@{
    ViewData["Title"] = "Foto informatie";
}

<h2>Foto informatie</h2>

<div>
    <img src="@Model.FilePath" alt="Uploaded Picture" style="max-width: 100%;" />
</div>
<p>
    <strong>Naam foto:</strong> @Model.Name.ToString()
</p>

<p>
    <strong>Geupload door:</strong>
    @if (Model.AddedByBoardMemberId != null)
    {
        @Model.AddedByBoardMember.Name
    }
    
    else
    {
        <span>Unknown uploader</span>
    }
</p>

<p><strong>Geupload op:</strong> @Model.UploadDate.ToString("dd/MM/yyyy")</p>

<a asp-action="Index">Terug naar de foto galerij</a>
