@model IEnumerable<WPCasusVictuz.Models.Picture>

@{
    ViewData["Title"] = "Photo Gallery";
}

<h1>Photo Gallery</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img src="@item.FilePath" alt="Uploaded Picture" style="width:100%">
                </a>
                <div class="caption">
                    <p>
                        Uploaded by:
                        @if (item.AddedByBoardMember != null)
                        {
                            @item.AddedByBoardMember.Name
                        }
                        else
                        {
                            <span>Unknown</span>
                        }
                    </p>
                </div>
            </div>
        </div>
    }
</div>
