@model WPCasusVictuz.Models.Picture

@{
    ViewData["Title"] = "Upload Picture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload Picture</h2>

<form asp-action="UploadPicture" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Choose a picture:</label>
        <input type="file" class="form-control" name="file" />
    </div>

    <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-primary" />
    </div>
</form>
