@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WPCasusVictuz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WPCasusVictuz/css/bootstrap.min.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarColor03">       
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown text-dark-emphasis">
                            <a class="nav-link text-dark-emphasis dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Victuz </a>
                            <div class="dropdown-menu text-dark-emphasis">
                                <a class="dropdown-item text-body-tertiary" asp-area="" asp-controller="Home" asp-action="Index">Over Victuz</a>
                                <div class="dropdown-divider text-body-tertiary"></div>
                                <a class="dropdown-item text-body-tertiary" asp-area="" asp-controller="Home" asp-action="Contact">Contact met Victuz</a>
                                <div class="dropdown-divider text-body-tertiary"></div>
                                <a class="dropdown-item text-info-emphasis" asp-area="" asp-controller="Home" asp-action="Bylaw">Statuten</a>
                            </div>
                        </li>
                        
                        <li class="nav-item dropdown text-dark-emphasis">
                            <a class="nav-link text-dark-emphasis dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Victuz activiteiten</a>
                            <div class="dropdown-menu text-dark-emphasis">
                                <a class="dropdown-item text-body-tertiary" asp-area="" asp-controller="Aktivities" asp-action="UpcomActView">Aankomende activiteiten</a>
                                <div class="dropdown-divider text-body-tertiary"></div>
                                <a class="dropdown-item text-body-tertiary" asp-area="" asp-controller="Aktivities" asp-action="PastActView">Gepasseerde Activiteiten</a>
                                @if (string.IsNullOrEmpty(Context.Session.GetString("UserName"))) 
                                { }
                                else
                                {
                                    <div class="dropdown-divider text-body-tertiary"></div>
                                    <a class="dropdown-item text-body-tertiary" asp-area="" asp-controller="Aktivities" asp-action="Index">Zoek tussen alle activiteiten</a>
                                }                               
                            </div>
                        </li>
                        <li class="nav-item dropdown text-dark-emphasis">
                            <a class="nav-link text-dark-emphasis dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Victuz Media </a>
                            <div class="dropdown-menu text-dark-emphasis">
                                <a class="dropdown-item text-info-emphasis" asp-area="" asp-controller="Picture" asp-action="Index">Foto's van Victuz</a>
                                <div class="dropdown-divider text-body-tertiary"></div>
                                <a class="dropdown-item text-body-tertiary" asp-area="" asp-controller="Picture" asp-action="UploadPicture">Upload een foto</a>
                                <li class="nav-divider text-dark accordion"></li> 
                        
                        @if (string.IsNullOrEmpty(Context.Session.GetString("UserName")))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="Create">Registreer</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown text-dark-emphasis">
                                <a class="nav-link text-dark-emphasis dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Geef je mening!</a>
                                <div class="dropdown-menu text-dark-emphasis">
                                    <a class="dropdown-item text-body-tertiary" asp-area="" asp-controller="Votes" asp-action="Create">Beantwoordt een poll!</a>
                                    <div class="dropdown-divider text-body-tertiary"></div>
                                    <a class="dropdown-item text-body-tertiary" asp-area="" asp-controller="Votes" asp-action="createIdea">Suggereer een Idee!</a>
                                    
                                </div>
                            </li>
                                   
                            <li class="nav-divider text-dark accordion"></li> 
                            @if (HttpContextAccessor.HttpContext.Session.GetString("IsBoardMember") == "true")
                            {
                                <li class="nav-item dropdown text-info-emphasis">
                                    <a class="nav-link dropdown-toggle text-info-emphasis" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Overzicht van</a>
                                    <div class="dropdown-menu text-info-emphasis">
                                        <a class="dropdown-item text-info-emphasis" asp-area="" asp-controller="Members" asp-action="Index">Alle leden</a>
                                        <div class="dropdown-divider text-body-tertiary"></div>
                                        <a class="dropdown-item text-info-emphasis" asp-area="" asp-controller="Polls" asp-action="Index">Alle Polls</a>
                                        <div class="dropdown-divider text-body-tertiary"></div>
                                        <a class="dropdown-item text-info-emphasis" asp-area="" asp-controller="Votes" asp-action="Index">Alle antwoorden</a>
                                        <div class="dropdown-divider text-body-tertiary"></div>                                     
                                        <a class="dropdown-item text-info-emphasis" asp-area="" asp-controller="Registrations" asp-action="Index">Inschrijvingen activiteiten</a>
                                        <div class="dropdown-divider text-body-tertiary"></div>
                                        <a class="dropdown-item text-info-emphasis" asp-area="" asp-controller="Votes" asp-action="Suggestions">Gemaakte suggesties</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown text-danger-emphasis">
                                    <a class="nav-link text-info-emphasis dropdown-toggle " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Aanmaken</a>
                                    <div class="dropdown-menu text-info-emphasis">
                                        <a class="dropdown-item text-info-emphasis" asp-area="" asp-controller="Aktivities" asp-action="Create">Activiteit aanmaken</a>
                                        <div class="dropdown-divider text-body-tertiary"></div>
                                        <a class="dropdown-item text-info-emphasis" asp-area="" asp-controller="Polls" asp-action="Create">Pollstelling aanmaken</a>
                                        <div class="dropdown-divider text-body-tertiary"></div>
                                        <!-- <a class="dropdown-item text-info-emphasis" asp-area="" asp-controller="Members" asp-action="CreateBoardmember">Bestuurslid aanmaken</a>-->
                                    </div>
                                </li>
                            }
                             <li class="nav-item position-relative text-lg-start">
                                <span class="navbar-brand text-light-emphasis">Hello, @Context.Session.GetString("UserName")!</span>
                            </li>
                            <li class="nav-item position-relative text-xxl-end">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="Logout">Uitloggen</a>
                        </li>
                        } 
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WPCasusVictuz - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
