@model IEnumerable<WPCasusVictuz.Models.Vote>

@{
    ViewData["Title"] = "Gegeven antwoorden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Overzicht gegeven antwoorden</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Gekozen antwoord
            </th>
            <th>
                Bij vraagstelling
            </th>
            <th>
                Door lid
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.SelectedOption) <!-- Display the selected option -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poll.Question) <!-- Display the poll question -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Name) <!-- Display the member's name -->
            </td>
            
            <td>
                
            </td>
        </tr>
}
    </tbody>
</table>
