@{
    ViewData["Title"] = "Bedankt!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bedankt voor je suggestie!</h2>
<p>Je idee is succesvol ingediend en wordt bekeken door de bestuursleden.</p>
